/*
    <!-- Checkbox hack for CSS-only hamburger menu -->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle">☰</label>
    <!-- Small JS event handler that closes the menu -->
    <nav onclick="document.querySelector('#menu-toggle').checked = false">
*/

header {

  /* only use this if you skip the position fixed in header.css
  position: relative;*/

  /* Hide the checkbox (always) */
  #menu-toggle {
    display: none;

    /* Show nav when checkbox is checked (sibling selector) */
    &:checked~nav {
      display: block;
    }
  }

  /* The hamburger icon - hidden by default (on large screens) */
  label[for="menu-toggle"] {
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 3px 7px 7px;
  }

  /* Small screens: show hamburger, hide menu */
  @media (max-width: 575px) {

    & {
      padding-bottom: 10px;
    }

    /* Show the hamburger icon */
    label[for="menu-toggle"] {
      display: block;
    }

    /* Hide the nav by default */
    nav {
      display: none;
      position: absolute;
      top: 100%;
      margin-top: -10px;
      left: 0;
      right: 0;
      background-color: var(--bg-color-header-footer);
      padding: 20px;

      /* Stack the links vertically */
      a {
        display: block;
        padding: 10px 0;
      }
    }

  }

}