img {
  width: 100%;
}

/* A "full bleed"/hero image that takes the whole viewport width */
img.hero {

  /* let the image start right after the header
     ignore padding-top: 20px on main */
  margin-top: -20px;

  object-fit: cover;

  display: block;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  aspect-ratio: 25/10;

  @media (max-width: 800px) {
    aspect-ratio: 16/9;
  }

  @media (max-width: 576px) {
    aspect-ratio: 10/9;
  }
}

/* Get heading (h1) after hero image to be positioned on top of the image
   with a shadow that makes the text stand out across most images
*/
img.hero+h1 {
  margin-top: -120px;
  margin-bottom: 80px;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, .65), 0 0 40px rgba(0, 0, 0, .45), 0 2px 4px rgba(0, 0, 0, .75);

  @media (max-width: 800px) {
    font-size: 50px;
  }

  @media (max-width: 450px) {
    font-size: 40px;
  }
}