/* "Router": Which article in main to show depending on hash */
main article {

  /* Scroll to top instead of article */
  scroll-margin-top: 200px;

  display: none;

  /* Show first page by default OR the targeted page */
  &:first-of-type:not(:has(~ :target)),
  &:target {
    display: block;
  }
}

/* Active and hovered choices in the menu */
body {

  /* hover: on mouse over */
  nav a:hover,
  /* rules to make the corresponding menu link
     active based on which article that is shown */
  &:not(:has(article:target)) nav a:nth-of-type(1),
  &:has(article:nth-of-type(1):target) nav a:nth-of-type(1),
  &:has(article:nth-of-type(2):target) nav a:nth-of-type(2),
  &:has(article:nth-of-type(3):target) nav a:nth-of-type(3),
  &:has(article:nth-of-type(4):target) nav a:nth-of-type(4),
  &:has(article:nth-of-type(5):target) nav a:nth-of-type(5) {
    color: white;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
  }
}